<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
     <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
  <form action="/send" method="post">
    <input type="text" name="name" value="first Name">
    <input type="text" name="Sname" value="Second Name">
  </form>
        </br>

    </div>

  </body>
</html>
